<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
	 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      			
			<div id="renderLtngComp"/>
		   
	
    </main>
        <footer>
        <div id="chatbutton" />   
		<div id="footerlinks" />
        </footer>
        
		<script type='text/javascript' src='https://c.la2w2.salesforceliveagent.com/content/g/js/38.0/deployment.js'></script>
        <script> 
			var url = "<%= ouathLightningURL %>";
			var objButton;
			var buttonId = '', deploymentId = '', deploymentURL = '' ;
			console.log('oauth url - '+url);
			var token = "Bearer "+"<%= oauthtoken %>";
			console.log(token);
			$Lightning.use("c:loTest", function(cmp) {
			console.log(cmp); 
			createChatterFeed('NEWS');
			//showFooterLinks();
			},url,token ); 
			function createChatterFeed(type, subjectId) {
				var id = getUrlVars()["oppId"];
				var successflag = getUrlVars()["successflag"];
				console.log('Flag: '+successflag);
				console.log('Opp Id: '+id);
				
				var deploymentId = '';
				document.getElementById("renderLtngComp").innerHTML = "";
				$Lightning.createComponent("c:REN_LT_MainComponent", 
				{type: type, subjectId: subjectId,oppId:id}, 
				"renderLtngComp",
				function(cmp) {
                    console.log("Component created!");
                    console.log(cmp);
                    console.log(cmp.$attributeSet$.$values$);
                    
					setTimeout(function(){ 
						buttonId = cmp.$attributeSet$.$values$.buttonId;
						deploymentId = cmp.$attributeSet$.$values$.deploymentId;
						deploymentURL = cmp.$attributeSet$.$values$.deploymentURL;
                    	console.log('buttonID after: '+buttonId);
                    	
                    	if (!window._laq) { 
                    		window._laq = []; 
                    		console.log(!window._laq);
                    	}
						window._laq.push(function(){
							console.log('IDs in push : '+buttonId+' : '+deploymentId + ':' +deploymentURL);
							document.getElementById("chatbutton").innerHTML = '<div id="liveagent_button_online"><div onclick="doChat()">Chat Now</div></div><div id="liveagent_button_offline"><div>Chat Unavailable</div></div>';
							liveagent.showWhenOnline(buttonId, document.getElementById('liveagent_button_online'));
							liveagent.showWhenOffline(buttonId, document.getElementById('liveagent_button_offline'));
							console.log(window._laq.push);
							
						});
						liveagent.init(deploymentURL, deploymentId, '00Dj0000000JSsz');
						
							console.log(window._laq.length); 
                     }, 10000);
                    /**/
                    
                }); 
                document.getElementById("footerlinks").innerHTML = "";
				$Lightning.createComponent("REN_LT_Footer", {}, "footerlinks");	
			}
			function getUrlVars() 
			{
			    var vars = [], hash;
			    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			    for(var i = 0; i < hashes.length; i++)
			    {
			        hash = hashes[i].split('=');
			        vars.push(hash[0]);
			        vars[hash[0]] = hash[1];
			    }
			    return vars;
			}
			function showAccountList(type, subjectId) {
				document.getElementById("renderLtngComp").innerHTML = "";
				$Lightning.createComponent("c:AccountList", {type: type, subjectId: subjectId}, "renderLtngComp"); 
			}
			function doChat() {
				console.log(buttonId);
				liveagent.startChat(buttonId);
			}
			function showFooterLinks() {				
                document.getElementById("footerlinks").innerHTML = "";
				$Lightning.createComponent("REN_LT_Footer", {}, "footerlinks");	
			}
			
	</script>      
  </body>
</html>