<html>
<head></head>
<body>
<h1> loading page</h1>

<script>
  function getUrlVars(){
    return window.location.href.replace("welcome", "");
  }

  var vars = getUrlVars();      
  setTimeout(function() {
    window.location.replace(window.location.orgin+"/?"+vars);
  }, 2000);
</script>
</body>
</html>
