<html>
<head></head>
<body>
<h1> loading page</h1>

<script>
  function getUrlVars(){
    var hrefVal = window.location.href;
    var returnURL = hrefVal.replace(window.location.origin+"/", window.location.origin + "/authenticate");
    return returnURL;
    
  }

  var returnURL = getUrlVars();      
  setTimeout(function() {
    window.location.replace(returnURL);
  }, 2000);
</script>
</body>
</html>
