<html>
<head><meta http-equiv="refresh" content="0;url=/?orgid=00D36000000aq3iEAA&renId=DQfOpGow42G2NbuUmdPwJWgcmAZC0ppe6jR2eFlpfpdMWqv0eSivDLb8iRUZX0Ri"></head>
<body>
<h1> loading page</h1>

<script>
  setTimeout(function() {
  //window.location.replace("http://whatever.com/newpage.html")
  }, 2000);
</script>
</body>
</html>
