<html>
<head><meta http-equiv="refresh" content="0;url=https://localhost:4433/welcome"></head>
<body>
<h1> loading page</h1>

<script>
  setTimeout(function() {
  //window.location.replace("http://whatever.com/newpage.html")
  }, 2000);
</script>
</body>
</html>
