<html>
<head></head>
<body>
<h1> loading page</h1>

<script>
  function getUrlVars(){
    var hrefVal = window.location.href;
    var removeWelcome = hrefVal.replace("welcome", "");
    return removeWelcome;
    
  }

  var vars = getUrlVars();      
  setTimeout(function() {
    //window.location.replace(window.location.orgin+"/?"+vars);
  }, 2000);
</script>
</body>
</html>
